@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html main, body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0deg, 100%, 74%);
  color: white;
  font-family: "Poppins";
}
html main .info-section, body main .info-section {
  width: 50%;
  padding: 200px 50px 0px 145px;
}
html main .info-section h1, body main .info-section h1 {
  font-size: 50px;
  font-weight: 700;
}
html main .info-section p, body main .info-section p {
  font-size: 14px;
}
html main .form-section, body main .form-section {
  width: 50%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html main .form-section .offer-text, body main .form-section .offer-text {
  background-color: hsl(248deg, 32%, 49%);
  width: 450px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  box-shadow: 4px 4px 15px 1px #4d4c4c;
}
html main .form-section .offer-text .free-trial, body main .form-section .offer-text .free-trial {
  font-weight: 700;
}
html main .form-section .trial-form, body main .form-section .trial-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 450px;
  height: 420px;
  padding-top: 20px;
  border-radius: 10px;
}
html main .form-section .trial-form input, html main .form-section .trial-form button, body main .form-section .trial-form input, body main .form-section .trial-form button {
  width: 90%;
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
}
html main .form-section .trial-form .warning-message, body main .form-section .trial-form .warning-message {
  color: hsl(0deg, 100%, 74%);
  font-size: 10px;
  align-self: flex-end;
  padding-right: 25px;
  opacity: 0;
}
html main .form-section .trial-form .claim-button, body main .form-section .trial-form .claim-button {
  background-color: hsl(154deg, 57%, 44%);
  color: white;
  box-shadow: 0px 5px 2px 0px hsl(154deg, 57%, 39%);
}
html main .form-section .trial-form .claim-button:hover, body main .form-section .trial-form .claim-button:hover {
  background-color: hsl(154deg, 75%, 58%);
  box-shadow: 0px 5px 2px 0px hsl(154deg, 57%, 50%);
}
html main .form-section .trial-form input, body main .form-section .trial-form input {
  border: 1px solid hsl(246deg, 25%, 77%);
}
html main .form-section .trial-form input::-moz-placeholder, body main .form-section .trial-form input::-moz-placeholder {
  padding-left: 10px;
}
html main .form-section .trial-form input:-ms-input-placeholder, body main .form-section .trial-form input:-ms-input-placeholder {
  padding-left: 10px;
}
html main .form-section .trial-form input::placeholder, body main .form-section .trial-form input::placeholder {
  padding-left: 10px;
}
html main .form-section .trial-form input:focus, body main .form-section .trial-form input:focus {
  outline: none;
  border: 2px solid hsl(248deg, 32%, 49%);
}
html main .form-section .trial-form .agreement, body main .form-section .trial-form .agreement {
  color: hsl(246deg, 25%, 77%);
  font-weight: 400;
  font-size: 11px;
  padding-top: 15px;
}
html main .form-section .trial-form .agreement .terms, body main .form-section .trial-form .agreement .terms {
  color: hsl(0deg, 100%, 74%);
  font-weight: 700;
}
@media (max-width: 1000px) {
  html main .info-section, body main .info-section {
    padding: 200px 50px 0px 80px;
  }
}
@media (max-width: 950px) {
  html main, body main {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  html main .info-section, body main .info-section {
    width: 100%;
    padding: 60px 80px 0px 80px;
  }
  html main .form-section, body main .form-section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 500px) {
  html main, body main {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    background-image: url(images/bg-intro-mobile.png);
  }
  html main .info-section, body main .info-section {
    width: 100%;
    padding: 60px 40px 0px 40px;
  }
  html main .info-section h1, body main .info-section h1 {
    font-size: 40px;
    font-weight: 700;
  }
  html main .info-section p, body main .info-section p {
    font-size: 14px;
  }
  html main .form-section, body main .form-section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  html main .form-section .offer-text, body main .form-section .offer-text {
    width: 310px;
  }
  html main .form-section .trial-form, body main .form-section .trial-form {
    width: 310px;
  }
  html main .form-section .trial-form .agreement, body main .form-section .trial-form .agreement {
    padding: 15px 10px 0px 10px;
  }
}/*# sourceMappingURL=style.css.map */